.Bogor:hover,
.Depok:hover,
.Bekasi:hover,
.Karawang:hover,
.Purwakarta:hover,
.Subang:hover,
.Indramayu:hover,
.Sumedang:hover,
.Majalengka:hover,
.Cirebon:hover,
.Kuningan:hover {
  opacity: 1 !important;
}

.SukaBumi:hover,
.Cianjur:hover,
.BandungBarat:hover,
.Cimahi:hover,
.KotaBandung:hover,
.Bandung:hover,
.Garut:hover,
.Tasikmalaya:hover,
.Pangandaran:hover,
.Banjar:hover,
.Ciamis:hover {
  opacity: 1 !important;
}

body {
  background-color: #93bfcf;
}

.svg-container {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.svg-container:hover {
  visibility: visible;
}

.CardSK,
.CardTasikmalaya,
.CardGarut,
.CardPangandaran,
.CardKuningan {
  visibility: hidden;
  position: absolute;
  text-align: justify;
  height: 300px;
  width: 280px;
}

.CardSK {
  top: 15vh;
  right: 55vh;
}
