.exploreContainer .relative:hover {
    transform: translateY(-5px);
  }
  
  .exploreContainer .relative {
    transition:  0.5s ease-in-out;
  }
  
  .exploreContainer .relative:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  }

  body{
    background-color: white;

  }
  