.Bogor:hover,
.Depok:hover,
.Bekasi:hover,
.Karawang:hover,
.Purwakarta:hover,
.Subang:hover,
.Indramayu:hover,
.Sumedang:hover,
.Majalengka:hover,
.Cirebon:hover,
.Kuningan:hover {
  opacity: 1 !important;
}

.SukaBumi:hover,
.Cianjur:hover,
.BandungBarat:hover,
.Cimahi:hover,
.KotaBandung:hover,
.Bandung:hover,
.Garut:hover,
.Tasikmalaya:hover,
.Pangandaran:hover,
.Banjar:hover,
.Ciamis:hover {
  opacity: 1 !important;
}

body {
  background-color: #eee9da;
}

.svg-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.CardSK{
  position: absolute;
  text-align: justify;
  height: 250px;
  width: 300px;
  top: 80px;
  right: 700px;
}

.CardB{
  position: absolute;
  text-align: justify;
  height: 250px;
  width: 300px;
  top: 50px;
  right: 700px;
}

